.register {
  display: flex;
  align-items: flex-end;
  gap: 100px;
  flex-grow: 1;
  padding: 72px;
  background: url('../../../../../public/images/home-bg.jpg') no-repeat center;
  background-size: cover;
}

.registerTitle {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: var(--fw-bold);
  color: var(--color-red);
}