.caseImage {
  width: 98px;
  height: 126px;
  object-fit: cover;
}

.link {
  text-decoration: none;
  transition: all .3s ease;
  color: var(--color-grey);
  font-size: var(--fs-sm);
  font-weight: var(--fw-thin);

  &:hover {
    color: var(--color-red)
  }
}

.block {
  display: flex;
  justify-content: space-between;

  padding-top: 10px;
  padding-bottom: var(--p-xl) ;
}

.disabledBlock {
  pointer-events: none;
  opacity: 0.2;
}