.enterName {
  width: 40%;
  padding: var(--p-xxl);
  background: var(--color-background);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-red);
  box-shadow: var(--shadow);
}

.inputWrapper {
  margin-bottom: 30px;
  width: 100%;
}