.sideInfo {
  padding: var(--p-xl) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  svg {
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
}