.drawer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 420px;
  z-index: 10;
  transition: all 0.3s ease;
}

.body {
  position: relative;
  overflow-y: scroll;
  height: 100%;
  background: var(--color-black);
  box-shadow: var(--shadow);
  padding: 0 var(--p-lg) 0 var(--p-xxl);
  z-index: 3;
}

.drawerLeft {
  transform: translateX(-100%);
  left: 0;
}

.drawerLeftOpen {
  transform: translateX(0);
}

.drawerRight {
  transform: translateX(100%);
  right: 0;
}

.drawerRightOpen {
  transform: translateX(0);
}


.drawerButton {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 70px;
  height: 70px;
  background: var(--color-black);
  box-shadow: var(--shadow);

  svg {
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.drawerButtonLeft {
  border-radius: 0 0 20px 0;
  right: 0;
  transform: translate(98%, 0);
  
  svg {
    transition: all 0.3s ease;
    transform: rotate(180deg);

    &:hover {
      transform: rotate(180deg) scale(1.2);
    }
  }
}

.drawerButtonLeftOpen {
  svg {
    transition: all 0.3s ease;
    transform: rotate(0deg);
    &:hover {
      transform: rotate(0deg) scale(1.2);
    }
  }
}

.drawerButtonRight {
  border-radius: 0 0 0 20px;
  right: left;
  transform: translate(-90%, 0);
  
  svg {
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.drawerButtonRightOpen {
  svg {
    transition: all 0.3s ease;
    transform: rotate(180deg);
    &:hover {
      transform: rotate(180deg) scale(1.2);
    }
  }
}

.label {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 130px;
  background: #feea8f;
}

.labelText {
  transform: rotate(-90deg);
  white-space: nowrap;
}

.labelLeft {
  border-radius: 0 0 20px 0;
  right: 0;
  transform: translate(90%, 70px);
}

.labelRight {
  border-radius: 0 0 0 20px;
  left: 0;
  transform: translate(-90%, 70px);
}