.title {
  font-size: 72px;
  font-weight: 700;
  color: var(--color-red);
  text-align: center;
  filter: drop-shadow(var(--shadow));
}

.subtitle {
  font-size: 82px;
  font-weight: 700;
  color: var(--color-red);
  text-align: center;
  filter: drop-shadow(var(--shadow));
}