.input {
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--color-grey);
  outline: none;
  color: var(--color-red);
  padding: 5px 0;
  font-size: var(--fs-body);
  width: 100%;
}